<ion-content class="fullscreen"  style="--background: url('../../../assets/img/background.jpg') no-repeat center center / cover;">

  <ion-button (click)="toggleScanner()" style="font-size: 30px;">
    {{ isScanning ? 'Detener Escaneo' : 'Iniciar Escaneo' }}
  </ion-button>


  <div *ngIf="isLoading" class="loading-overlay">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <zxing-scanner
    *ngIf="isScanning"
    [formats]="allowedFormats"
    (scanSuccess)="onCodeResult($event)"
    [torch]="true"
    [tryHarder]="true"
    [device]="selectedDevice"
    style="width: 100%; height: 50%;"
  ></zxing-scanner>

  <div *ngIf="user && !isScanning">

    <div style="background-color: aliceblue; margin-top: 35px; margin-bottom: 35px;"> 

      <h4>
        Correo: {{ user['correo'] }}
      </h4>
      <h4>
        Perfil: {{user['perfil']}}
      </h4>

    </div>

    <div style="background-color: wheat;">
      <h1> Créditos </h1>
      <h1>  acumulados: {{ credits }}</h1>
    </div>
    
  </div>

  <div class="fixed-bottom">
    <div>
      <ion-button type="button" color="danger" (click)="clearCredits()">
        Limpiar créditos
      </ion-button>
    </div>
    <div>
      <ion-button  type="button" color="warning" (click)="logout()">
        <ion-icon name="close"></ion-icon>   
      </ion-button>
    </div>
    
 </div>
</ion-content>
