/* Hacer que el fondo de la página sea negro */
.container {
  background-color: #0650b5;
  /* justify-content: center;
  align-items: center;
  text-align: center; */

  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;

}

h1 {
  color: black;
  font-family: "Bebas"; 
  text-align: center;

}

/* Estilo para el h1 superior */
h1.top-heading {
  font-size: 40px;
  animation: scaleText 3s ease-in-out forwards;
  transform-origin: center;
}

/* Estilo para el h1 inferior */
h1.bottom-heading {
  font-size: 40px;
  animation: scaleText 3s ease-in-out forwards;
  transform-origin: center;
}

.animateSplash {
  margin-top: 20px;
}


/* Animación de movimiento y escalado */
@keyframes scaleText {
  0% {
    transform: scale(0.5); /* Comienza pequeño */
    opacity: 0;
  }
  50% {
    transform: scale(1); /* Aumenta a tamaño normal */
    opacity: 1;
  }
  100% {
    transform: scale(2); /* Llega al tamaño final */
    opacity: 1;
  }
}
