<ion-content>
    <div class="container">
        <div>
          <h1 class="top-heading">División: 11</h1>
          <h1 class="top-heading">(A341-2)</h1>
        </div>
        <div>
          <img 
            src="../../../assets/icon/favicon.webp" 
            alt="Splash Image" 
            class="animateSplash"/>
        </div>
        <div>
          <h1 class="bottom-heading">TRINIDAD</h1>
          <h1 class="bottom-heading">FACCINI</h1>
        </div>
      </div>
      
      
</ion-content>

