<ion-content class="fullscreen"  style="--background: url('../../../assets/img/background.jpg') no-repeat center center / cover;">

  <div class="login-content">

    <h1>INGRESÁ TUS DATOS</h1>

    @if (errorMessage) {
      <p style="text-align: center; color: red;">{{errorMessage}}</p>
    }

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating" style="font-family: 'Bebas'">Correo</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" style="font-family: 'Bebas';">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      
      <div style="display: flex; width: 100%; justify-content: space-around;">

        <ion-button color="warning" *ngFor="let user of users" (click)="autocompleCredentials(user.id-1)">
          <ion-icon [name]="user.logo"></ion-icon>
        </ion-button>

        <ion-button expand="block" type="submit" color="success" [disabled]="loginForm.invalid" >
          <ion-icon name="trending-up"></ion-icon>
        </ion-button>

      </div>
    </form>
    
   

    

</div>
</ion-content>
